.git
.idea
tmp
node_modules/
.node_modules/
node_modules
nbproject
package-lock.json

# helper files
xx_*.*

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

# ioBroker dev-server
.dev-server/
